https://docs.delta.io/latest/delta-update.html#-delta-merge

In [0]:


%python 

data=([(1,'Naval','India'),(2,'Anand','US'),(3,'Ravi','UAE'),(4,'Priya','Japan')]) 

schema="id int, name string, city string" 

df=spark.createDataFrame(data,schema) 

df.createOrReplaceTempView("emp_source")

In [0]:
data=([5,'Nikita','Mumbai'],[6,'Sarika','Thane'])
schema= "id int, name string, city string"
df=spark.createDataFrame(data,schema)
df.union(df).createOrReplaceTempView("emp_source")
##df.createOrReplaceTempView("emp_source")

In [0]:
%sql
select * from emp_source

In [0]:
%sql
 

create table dev.default.emp_target (id int, name string, city string)

In [0]:
%sql
merge into dev.default.emp_target t 

using dev.default.emp_source s 

on t.id=s.id 

when matched then update set * 

when not matched then insert *

In [0]:
%sql


select * from dev.default.emp_target 
order by ID

In [0]:


%python 

data=([(1,'Naval','India'),(2,'Anand','US')]) 

schema="id int, name string, city string" 

df=spark.createDataFrame(data,schema) 

df.createOrReplaceTempView("emp_source")

In [0]:
data = ([(1,'Naval','India'),(2,'Anand','US'),(3,'Ravi','UAE'),(4,'Priya','Japan')]) 

schema = "id int, name string, country string" 

df = spark.createDataFrame(data,schema)
df.createOrReplaceTempView("emp_source")

In [0]:
%sql
select * from emp_source

In [0]:
%sql
create table dev.default.emp_target(id int,)